*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}
@font-face {
    font-family: 'futura';
    src: url('font-family/futura\ medium\ bt.ttf') format('truetype');
}
body{
    font-family: 'futura';
}
.fs-1{
    font-size: 1.4rem;
}
.flex{
    display: flex;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.bg-lightgray{
    background-color: #D9D9D9;
}
.club-cards-container{
    justify-content: center;
    align-items: center;   
    height: 100vh;
}
.club-card{
    background-color: #ffffff;
    width: 53.125rem;
    height: 33.75rem;
    border-radius:32px;
}
.pattern-licu{
    background-image: url(images/bg-licu.png);
}
.pattern-ecplo{
    background-image: url(images/bg-ecplo.png);
}
.pattern-compa{
    background-image: url(images/bg-compa.png);
}
.exploration-logo{
    width: 7.4rem;
    top: 1.4rem;
    left: 2.4rem;
}
.club-category-name{
    top: 0.7rem;
    right: 8rem;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 1.2px;    
}
.legitimatie-text-div{
    top: 5.1rem;
    right: 10.8rem;
    letter-spacing: 1rem;
}
.club-card-info-div{
    top: 10.1rem;
    left: 3.1rem;
}
.upload-img-div{
    width: 12.9rem;
    padding: 6.41rem 4rem;
}
.cardholder-info{
    flex-direction: column;
    margin-left: 2rem;
}
.cardholder-info span:nth-child(odd){
    font-size: 1.4rem;
}
.cardholder-info span:nth-child(even){
    margin-bottom: 0.5rem;
    font-weight: bolder;
    font-size: 2rem;
    letter-spacing:2px;
}
.id-number-div{
    text-align: center;
    padding-top: 0.77rem;
}
.card-bottom-vector{
    bottom: -34.2rem;
}
.tin-logo{
    width: 12.8rem;
    bottom: 0.3rem;
    left: 3rem;
}
.church-logo{
    width: 2.6rem;
    bottom: 0.4rem;
    left: 16.7rem;
}
.qr-code{
    width: 5.7rem;
    top: 0.8rem;
    right: 2.4rem;
}
